node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.emulator-data/

# Build
dist/
functions/lib/
build/
.deploy/
functions/vendor/

# Env
.env
.env.local
.env.*.local
functions/.env
functions/.env.*.local

# Misc
.DS_Store
*.log
.vercel/
